*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}

@font-face {
    font-family: anek;
    src: url(./AnekDevanagari_SemiExpanded-Bold.ttf);
}

.icon{
    color:#ffebcd;
}
#container1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        background-color: rgb(0, 2, 57);
}

#logo{
    width: 70vh;;
    height: 100%;
    padding: 30px 50px 30px 50px;
}

/* Header styling */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #d3d3d3;    */
    padding: 30px 50px 15px 50px;
    flex-direction: column;
    align-items: end;
    color: blanchedalmond;
    
}

#he1{
    font-family: anek;
    font-size: 40px;
    font-style: normal;
    line-height: 40px;
    position: relative;
}

#he2{
    font-family: anek;
    font-size: 28px;
    font-style: normal;
    line-height: 40px;
    position: relative;
    margin-top: -1px;
    margin-bottom: 1vh;
}

#container2,#container3{
    font-family: anek;
    font-size: 38px;
    padding: 20px 50px 10px 50px;
}

#goldsec{
    min-height: auto;
    border: 2px solid;
    border-color: rgb(0, 2, 57);
    /* background-color: blue; */
    padding: 20px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 1vh;
}

#k{
    margin-bottom: 20px;
    /* background-color: rgb(255, 0, 0); */
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#k2{
    margin-bottom: 20px;
    /* background-color: rgb(255, 0, 0); */
    height: 14vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sell{
    margin-bottom: 20px;
    /* background-color: bisque; */
    height: 14vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
}

#buy{
    margin-bottom: 20px;
    /* background-color: rgb(84, 78, 72); */
    height: 14vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* {
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    background-color: rgb(255, 145, 0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
} */

#kkgod{
    /* background-color: rgb(121, 29, 29); */
    width: 20%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 1vh;
}

#grate{
    /* background-color: rgb(144, 162, 250); */
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#kk1{
    margin-left: 10px;
    margin-right: 10px;
    /* background-color: rgb(255, 145, 0); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 1vh;
}


#sell1,#buy1{
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(255, 191, 0);
    border: 2px solid;
    border-color: rgb(0, 2, 57);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 1vh;
}

#sell1:hover,#buy1:hover{
    background-color: rgba(255, 191, 0, 0);
}

/* text */

/* #karat{
    font-size: 28px;
    height: 28px;
    font-style: normal;
    line-height: 40px;
} */

/* #rate, #action, */
#karat{
    font-size: 38px;
    height: 38px;
    font-style: normal;
    line-height: 50px;
}

#rate, #action{
    font-size: 51px;
    height: 51px;
    font-style: normal;
    line-height: 63px;
}



